In [50]:
import numpy as np
import pandas as pd
import sqlite3 as sl
from zipfile import ZipFile, Path

In [4]:
# Create connection
con = sl.connect('random_quote/db.sqlite3')

In [5]:
# Get all tables in SQLite DB in order to write SQL queries to obtain the results
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    
print(cursor.fetchall())

[('django_migrations',), ('sqlite_sequence',), ('auth_group_permissions',), ('auth_user_groups',), ('auth_user_user_permissions',), ('django_admin_log',), ('django_content_type',), ('auth_permission',), ('auth_group',), ('auth_user',), ('django_session',), ('get_quote_quote',)]

In [48]:
cursor.execute("SELECT * FROM get_quote_quote LIMIT 5;")

print(cursor.fetchall())

[(0, 'Love, and you shall be loved.', 'Ralph Waldo Emerson', 'love', 29), (1, 'The Artist always has the masters in his eyes.', 'Ralph Waldo Emerson', 'ambition, art, artist, eyes, love, master, work', 46), (2, 'Do not go where the path may lead, go instead where there is no path and leave a trail.', 'Ralph Waldo Emerson', 'inspirational, life', 87), (3, 'It is not the length of life, but the depth.', 'Ralph Waldo Emerson', 'life', 44), (4, 'Life is a succession of lessons which must be lived to be understood.', 'Ralph Waldo Emerson', 'life, life-experience', 69)]

In [7]:
# pass in the specific file name 
# to the open method
with ZipFile("D:\\Dataset\\quotes.csv.zip") as myzip:
    data = myzip.open("quotes.csv")

#Now, we can read in the data
df = pd.read_csv(data,low_memory=False)#, parse_dates=['datetime','date posted'])

In [8]:
df['quote_len'] = df.quote.str.len()

In [9]:
df_small = df.query('quote_len<80')

In [10]:
df_small.shape

(139256, 4)

In [11]:
quotes_rwe = df[(df.author.isin(['Ralph Waldo Emerson']))&(df.quote_len<100)]

In [34]:
quotes_rwe.assign(id=pd.RangeIndex(len(quotes_rwe.index))).reset_index(drop=True)

,quote,author,category,quote_len,id
0,"Love, and you shall be loved.",Ralph Waldo Emerson,love,29.0,0
1,The Artist always has the masters in his eyes.,Ralph Waldo Emerson,"ambition, art, artist, eyes, love, master, work",46.0,1
2,"Do not go where the path may lead, go instead ...",Ralph Waldo Emerson,"inspirational, life",87.0,2
3,"It is not the length of life, but the depth.",Ralph Waldo Emerson,life,44.0,3
4,Life is a succession of lessons which must be ...,Ralph Waldo Emerson,"life, life-experience",69.0,4
...,...,...,...,...,...
540,Nothing astonishes men so much as common sense...,Ralph Waldo Emerson,"Common Sense, Dealing",65.0,540
541,Every actual State is corrupt. Good men must n...,Ralph Waldo Emerson,"Good, Laws, Good Men",68.0,541
542,No change of circumstances can repair a defect...,Ralph Waldo Emerson,"Character, Circumstances",60.0,542
543,"Win as if you were used to it, lose as if you ...",Ralph Waldo Emerson,"Win, You, Lose",70.0,543
544,The desire of gold is not for gold. It is for ...,Ralph Waldo Emerson,"Gold, Desire, Benefit",79.0,544

In [47]:
# Upload table to db.sqlite3

quotes_rwe.assign(id=pd.RangeIndex(len(quotes_rwe.index))).reset_index(drop=True)[['id','quote','author','category','quote_len']].to_sql('get_quote_quote',con, if_exists='append',index=False)

In [26]:
quotes_rwe.iloc[1
]

quote        Love, and you shall be loved.
author                 Ralph Waldo Emerson
category                              love
quote_len                               29
Name: 2160, dtype: object

In [53]:
[np.random.choice(430, 1, replace=False)[0]][0]

410